#resultado {
    display: flex;
    flex-direction: column;
    margin-bottom: 50;
    background-color: #ccc4c4; 
    font-family: Arial, sans-serif; 
    line-height: 2;       
}
#resultado p {
    flex: 1 1 200px;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;            
}

#resultado strong {
    color: #007BFF;            
}