
#resultado {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; 
}
#resultado p {
    background-color: #f8f8f8;
    border-radius: 5px;            
}

#resultado strong {
    color: #007BFF;            
}